body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    /* Centra verticalmente */
  height: 100vh;          /* Altura completa de la ventana */
}

h2 {
  color: #333;
}

.galeria {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imagen {
  text-align: center;
  margin: 10px;
}

.imagen img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}

p {
  margin-top: 8px;
  font-weight: bold;
}
